@font-face{
    src:url("../fonts/serif/SourceSerifPro-Regular.ttf");
    font-family:"SourceSerifPro-Regular";
}
@font-face{
    src:url("../fonts/sansserif/Roboto-Regular.ttf");
    font-family:"Roboto-Regular";
}
body {
    margin:0;
    background-color: #e0dede;
    display: flex;
    flex-direction: column;
    min-height: 100vh;   
}
.header {
    font-family: "SourceSerifPro-Regular", Helvetica, Arial, sans-serif;
    background-color: #97979754;
    color: #462f2f;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 100%;
    border-bottom: 1px solid #c09c49;
}
.main {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    flex-grow: 1;
    padding-top: 40px;
}  
.link {
    font-family: "SourceSerifPro-Regular", Helvetica, Arial, sans-serif;
    color: chocolate;
    transition: color .2s;
    padding-left: 10px;
}
.aside {
    width: 300px;
    flex: 0;
} 
.list {font-family: "Roboto-Regular", Helvetica, Arial, sans-serif;
    color: #462f2f;
}
.main-section {
    margin-top: -30px;
    flex-grow: 1;
    padding-left: 50px;
}
.img {
    border: 1px solid gray;
}
.contacts-item {
    font-family: "SourceSerifPro-Regular", Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
}

.title {font-family: "SourceSerifPro-Regular", Helvetica, Arial, sans-serif;
    color: #c09c49;
    font-size: 1.8em;
}
.subtitle {
    font-family: "SourceSerifPro-Regular", Helvetica, Arial, sans-serif;
    border-left: 3px solid chocolate;
    padding-left: 10px;
    color: #c09c49;
    margin-top: 30px;
    
}
.footer {
    border-top: 1px solid #c09c49;
    padding: 10px;
    text-align: center;
    color: #c09c49;
    display: flex;
    justify-content: center;
} 
a:hover{
    color: red
}
